@use 'styles/mq' as *;

.section {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;

  @include mq-md {
    align-items: flex-start;
    flex-direction: row;
  }
}
