@use 'styles/mq' as *;

.section {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;

  @include mq-md {
    align-items: center;
    flex-direction: row;
  }
}

.card {
  border-radius: var(--radius-sm);
  width: 33.5rem;

  @include mq-md {
    width: 40rem;
  }
}

.cardHeader {
  flex-direction: column;
  gap: .5rem;
  padding: 2rem 2rem 1rem;
}

.cardBody {
  padding: 2rem;
}

.cardFooter {
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem 2rem;
}

.divider {
  border-color: var(--color-grey-5);
  margin: auto;
  width: calc(100% - 4rem);
}

.title {
  align-items: center;

  // color: var(--color-secondary-1);
  display: flex;
  font-size: var(--font-size-6);
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.form button[type='submit'] {
  margin-top: 1rem;
}

.link {
  color: var(--color-black);
  font-size: var(--font-size-3);
  text-decoration: underline;

  &:hover,
  &:focus-visible {
    color: var(--color-primary-2);
  }
}