.card {
  max-width: 40rem;
  text-align: center;
  width: 100%;
}

.cardBody {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 2rem;
}

.icon {
  color: var(--color-primary-1);
  font-size: 4rem;
  line-height: 1;
}

.title {
  font-size: 2rem;
}

.message {
  color: var(--color-grey-2);
  font-size: 1rem;
  line-height: 1.5;
  max-width: 30rem;
}

.divider {
  margin: 0;
}

.cardFooter {
  display: flex;
  font-size: 1rem;
  gap: 0.5rem;
  justify-content: center;
  padding: 2rem;
}

.link {
  color: var(--color-primary-1);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
