@use 'styles/mq' as *;

.section {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}

.card {
  border-radius: var(--radius-3);
  padding: 2rem;
  width: 33.5rem;

  @include mq-md {
    width: 45rem;
  }
}

.cardHeader {
  flex-direction: column;
  gap: .5rem;
}

.cardBody {
  gap: 1rem;
}

.cardFooter {
  flex-direction: column;
  gap: .5rem;
}

.title {
  font-size: var(--font-size-6);
}

.form {
  background: var(--color-grey-7);
  border-radius: var(--radius-3);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  width: 100%;
}

.link {
  align-self: flex-start;
  color: var(--color-black);
  font-size: var(--font-size-3);
  text-decoration: underline;

  &:hover,
  &:focus-visible {
    color: var(--color-primary-2);
  }
}