@use 'styles/mq' as *;

.banner {
  background-color: var(--color-grey-5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 40rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  &.overlay-light::before,
  &.overlay-dark::before {
    content: '';
    inset: 0;
    position: absolute;
    z-index: 1;
  }

  &.overlay-light::before {
    background: var(--color-white-50);
  }

  &.overlay-dark::before {
    background: var(--color-black-50);
  }
}

.backgroundMedia {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: var(--container-max-width);
  position: relative;
  width: 100%;
  z-index: 2;

  &.vertical-align-start {
    align-items: flex-start;
  }

  &.vertical-align-center {
    align-items: center;
  }

  &.vertical-align-end {
    align-items: flex-end;
  }

  &.horizontal-align-left {
    justify-content: flex-start;
  }

  &.horizontal-align-center {
    justify-content: center;
  }

  &.horizontal-align-right {
    justify-content: flex-end;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 4rem;

  @include mq-md {
    max-width: 40rem;
  }

  @include mq-lg {
    max-width: 60rem;
  }

  &.text-align-left {
    text-align: left;
  }

  &.text-align-center {
    text-align: center;
  }

  &.text-align-right {
    text-align: right;
  }

  .title {
    color: inherit;
  }

  .subtitle {
    color: inherit;
    font-size: var(--font-size-4);
  }

  .text {
    color: inherit;
    font-size: var(--font-size-4);
    margin: 2rem 0 0;
    max-width: 100%;
  }

  &.text-light {
    color: var(--color-white);
  }

  &.text-dark {
    color: var(--color-black);
  }
}

.actions {
  align-items: center;
  display: flex;
  gap: 2rem;
  
  margin: 4rem 0 0;

  .text-align-left & {
    justify-content: flex-start;
  }

  .text-align-right & {
    justify-content: flex-end;
  }

  .text-align-center & {
    justify-content: center;
  }
}
