.section {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.card {
  border-radius: var(--radius-md);
  flex: 1;
  padding: 2rem;
}

.cardHeader {
  flex-direction: column;
}

.cardBody {
  flex-direction: column;
  padding: 2rem 0 0;
}

.cardFooter {
  flex-direction: column;
  padding: 2rem 0 0;
}

.title {
  font-size: var(--font-size-6);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form button[type='submit'] {
  background-color: var(--color-primary-2);
  border: none;
  color: var(--color-white);
  justify-content: center;
  width: 20rem;

  &:hover,
  &:focus-visible {
    background-color: var(--color-primary-1);
  }
}

.form [class*="file"] {
  width: 20rem
}
