@use 'styles/variants' as *;

.note {
  border-left: 0.3rem solid;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-4);
  gap: 0.5rem;
  margin: 0;
  padding: 1rem;

  @include color-variants;
}

.noteHeader {
  margin-bottom: 1rem;
}
