.note {
  border-left-style: solid;
  border-left-width: 0.3rem;
  color: var(--color-grey-1);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-3);
  gap: 0.5rem;
  margin: 0;
  padding: 1rem;

  &.default {
    background-color: var(--color-info-3);
    border-color: var(--color-info-2);
  }

  &.success {
    background-color: var(--color-success-3);
    border-color: var(--color-success-2);
  }

  &.danger {
    background-color: var(--color-danger-3);
    border-color: var(--color-danger-2);
  }

  &.warning {
    background-color: var(--color-warning-3);
    border-color: var(--color-warning-1);
  }
}

.noteTitle {
  color: var(--color-black);
  margin-bottom: 1rem;
}
