.mainLink {
  align-items: center;
  background: none;
  border: none;
  border-radius: var(--radius-2);
  color: var(--color-grey-1);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-4);
  height: 4rem;
  padding: 0 2rem;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    background-color: var(--color-grey-6);
    color: var(--color-primary-2);
    text-decoration: none;
  }

  &.current {
    background: none;
    color: var(--color-primary-2);
    cursor: default;
  }
}
