.logo {
  align-items: center;
  color: var(--color-primary-2);
  display: inline-flex;
  overflow: hidden;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: var(--color-primary-1);
    text-decoration: none;
  }
}

.fallback {
  color: inherit;
  font-size: 3rem;
  font-weight: var(--font-weight-xl);
}
