@use 'styles/form' as *;

.wrapper {
  @include form-wrapper;
}

.label {
  @include form-label;
}

.inputWrapper {
  position: relative;
}

.searchIcon {
  color: var(--color-grey-3);
  left: 1.25rem;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.input {
  @include form-input;

  padding-left: 4rem;
  padding-right: 4rem;

  // Hide default search cancel button
  &::-webkit-search-cancel-button {
    display: none;
  }
}

.actions {
  align-items: center;
  display: flex;
  gap: 1rem;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.clearButton {
  align-items: center;
  border-radius: var(--radius-sm);
  color: var(--color-grey-3);
  cursor: pointer;
  display: flex;
  height: 3rem;
  justify-content: center;
  width: 3rem;

  &:hover,
  &:focus-visible {
    color: var(--color-grey-1);
  }
}

.dropdown {
  background-color: var(--color-white);
  border: 0.1rem solid var(--color-grey-4);
  border-radius: var(--radius-md);
  max-height: 30rem;
  overflow-y: auto;
  position: fixed;
  z-index: var(--z-index-5);

  &:empty {
    display: none;
  }
}

.resultList {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
}

.resultItem {
  cursor: pointer;
  font-size: var(--font-size-4);
  padding: 1rem 2rem;
  transition: background-color var(--transition-default);

  &:hover,
  &.focused {
    background-color: var(--color-grey-6);
  }
}

.noResults {
  color: var(--color-grey-3);
  font-size: var(--font-size-4);
  padding: 1rem;
  text-align: center;
}

.dropdownLoading {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
