.badge {
  align-items: center;
  border: 0.1rem solid black;
  border-radius: 1.3rem;
  color: var(--color-white);
  display: inline-flex;
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-5);
  height: 2.6rem;
  justify-content: center;
  padding: 0 1rem;

  &.variant-default {
    background-color: var(--color-default-3);
    border-color: var(--color-default-2);
    color: var(--color-default-1);
  }

  &.variant-primary {
    background-color: var(--color-primary-3);
    border-color: var(--color-primary-2);
    color: var(--color-primary-1);
  }

  &.variant-secondary {
    background-color: var(--color-secondary-3);
    border-color: var(--color-secondary-2);
    color: var(--color-secondary-1);
  }

  &.variant-info {
    background-color: var(--color-info-3);
    border-color: var(--color-info-2);
    color: var(--color-info-1);
  }

  &.variant-warning {
    background-color: var(--color-warning-3);
    border-color: var(--color-warning-2);
    color: var(--color-warning-1);
  }

  &.variant-success {
    background-color: var(--color-success-3);
    border-color: var(--color-success-2);
    color: var(--color-success-1);
  }

  &.variant-danger {
    background-color: var(--color-danger-3);
    border-color: var(--color-danger-2);
    color: var(--color-danger-1);
  }
}
