@use 'styles/variants' as *;

.badge {
  align-items: center;
  border: 0.1rem solid;
  border-radius: calc(var(--height-badge) / 2);
  display: inline-flex;
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-5);
  height: var(--height-badge);
  justify-content: center;
  padding: 0 1rem;

  @include color-variants;
}
