.badge {
  align-items: center;
  border: 0.1rem solid black;
  border-radius: 1.3rem;
  color: var(--color-white);
  display: inline-flex;
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-5);
  height: 2.6rem;
  justify-content: center;
  padding: 0 1rem;

  &.accent {
    background-color: var(--color-accent-3);
    border-color: var(--color-accent-2);
    color: var(--color-accent-1);
  }

  &.default {
    background-color: var(--color-grey-3);
    border-color: var(--color-grey-2);
    color: var(--color-grey-1);
  }

  &.info {
    background-color: var(--color-info-3);
    border-color: var(--color-info-2);
    color: var(--color-info-1);
  }

  &.warning {
    background-color: var(--color-warning-3);
    border-color: var(--color-warning-2);
    color: var(--color-warning-1);
  }

  &.success {
    background-color: var(--color-success-3);
    border-color: var(--color-success-2);
    color: var(--color-success-1);
  }
}
