# Dependencies
node_modules/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/

# Storybook
storybook-static/

# Misc
*.local
.env
.env.*
