@use 'styles/form' as *;

.wrapper {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 0.75rem;
  user-select: none;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.checkbox {
  align-items: center;
  background-color: var(--color-white);
  border-color: var(--color-grey-3);
  border-radius: 0.4rem;
  border-style: solid;
  border-width: 0.1rem;
  display: flex;
  flex-shrink: 0;
  height: 2rem;
  justify-content: center;
  width: 2rem;

  &.checked {
    background-color: var(--color-primary-2);
    border-color: var(--color-primary-2);
  }
}

.checkIcon {
  color: var(--color-white);
  font-size: var(--font-size-3);
}

.label {
  @include formLabel;
}

.hiddenInput {
  clip-path: inset(50%);
  height: 0.1rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0.1rem;

  &:focus-visible + .checkbox {
    outline: 0.2rem solid var(--color-primary-2);
    outline-offset: 0.2rem;
  }
}
