$bg-color-footer: var(--color-grey-5);

.footer {
  background: $bg-color-footer;
  display: block;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: var(--container-max-width);
  padding: 0 2rem;
}
