@use 'styles/typo' as *;

.video {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

.figure {
  display: block;
  margin: 0;
}

.caption {
  @include base-caption;

  margin-top: 0.8rem;
}

.radiusNone {
  border-radius: 0;
}

.radiusSm {
  border-radius: var(--radius-2);
}

.radiusMd {
  border-radius: var(--radius-3);
}

.radiusLg {
  border-radius: var(--radius-4);
}
