@use 'styles/mixins/typo' as *;

.video {
  height: auto;
  width: 100%;
}

.caption {
  @include base-caption;

  margin-top: 0.8rem;
}

.radiusNone {
  border-radius: 0;
}

.radiusSm {
  border-radius: var(--radius-2);
}

.radiusMd {
  border-radius: var(--radius-3);
}

.radiusLg {
  border-radius: var(--radius-4);
}
