.checkboxWrapper {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 0.75rem;
  user-select: none;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.checkbox {
  border-color: var(--color-grey-3);
  cursor: pointer;
  flex-shrink: 0;
}

.checkIcon {
  color: var(--color-white);
  font-size: var(--font-size-3);
}

.label {
  cursor: inherit;
  font-size: var(--font-size-4);
}
