.checkboxWrapper {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 0.75rem;
  user-select: none;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.checkbox {
  align-items: center;
  border-radius: 4px;
  border-style: solid;
  display: flex;
  flex-shrink: 0;
  height: 20px;
  justify-content: center;
  width: 20px;
}

.checkIcon {
  color: var(--color-white);
  font-size: var(--font-size-3);
}

.label {
  cursor: inherit;
  font-size: var(--font-size-4);
}
