@import 'styles/form';

.datePickerWrapper {
  align-items: center;
  display: inline-flex;
  position: relative;
  width: 100%;

  .calendarIcon {
    color: var(--color-grey-2);
    font-size: var(--font-size-5);
    pointer-events: none;
  }

  .datePickerTrigger {
    align-items: center;
    background: transparent;
    border: none;
    border-left: 0.2rem solid var(--color-grey-3);
    border-radius: 0 0.4rem 0.4rem 0 !important;
    box-shadow: none;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 3.8rem;

    &:hover,
    &:focus,
    &.focused {
      background-color: var(--color-accent-2) !important;

      .calendarIcon {
        color: var(--color-white) !important;
      }
    }
  }

  .datePickerContainer {
    width: 100%;
  }

  .datePickerInput {
    @include formInput;

    padding-right: 3.8rem;
  }

  &:focus-within {
    .datePickerInput {
      border: 0.2rem solid var(--color-accent-2) !important;
      outline: none;
    }

    .datePickerTrigger {
      border-left-color: var(--color-accent-2) !important;
    }
  }

  .calendarWrapper {
    background: var(--color-white);
  }
}







:global {
  .react-datepicker-popper {
    align-items: center;
    display: flex !important;
    inset: 0 !important;
    justify-content: center;
    margin-top: -0.2rem;
    position: fixed !important;
    transform: none !important;
    width: 100%;
    z-index: var(--z-index-4) !important;

    &::before {
      background: var(--color-black-50);
      content: '';
      inset: 0;
      position: fixed;
      z-index: -1;
    }

    .react-datepicker {
      border: 0.2rem solid var(--color-grey-3);
      border-radius: 0.5rem;
      font-family: inherit;
    }

    .react-datepicker__header {
      align-items: center;
      background-color: var(--color-grey-6);
      border-bottom: 0.2rem solid var(--color-grey-4);
      border-radius: 0.5rem 0.5rem 0 0;
      display: flex;
      justify-content: center;
    }

    .react-datepicker__current-month {
      color: var(--color-grey-1);
      font-size: var(--font-size-5);
      font-weight: var(--font-weight-lg);
    }

    .react-datepicker__day-name {
      color: var(--color-black);
      font-size: var(--font-size-4);
      font-weight: var(--font-weight-lg);
      line-height: 3rem;
      margin: 0.25rem;
      width: 3rem;
    }

    .react-datepicker__day--today,
    .react-datepicker__day {
      border-radius: 0.25rem;
      color: var(--color-black);
      font-size: var(--font-size-4);
      font-weight: var(--font-weight-md);
      line-height: 3rem;
      margin: 0.25rem;
      width: 3rem;

      &:hover {
        background-color: var(--color-accent-2);
        color: var(--color-white);
      }
    }

    .react-datepicker__day--keyboard-selected {
      background-color: var(--color-accent-2);
      color: var(--color-white);
      outline: none;
    }

    .react-datepicker__day--selected {
      background-color: var(--color-accent-3) !important;
      border-radius: 0.25rem;
      color: var(--color-accent-1) !important;
      font-weight: var(--font-weight-md);
      outline: none;
    }

    .react-datepicker__day--disabled {
      color: var(--color-grey-3);
      cursor: not-allowed;

      &:hover {
        background-color: transparent;
      }
    }

    .react-datepicker__day--outside-month {
      color: var(--color-grey-2);
    }

    .react-datepicker__navigation-icon--previous {
      transform: translateX(-0.2rem);
    }

    .react-datepicker__navigation--previous {
      margin: 0.1rem 0 0 0.5rem;
    }

    .react-datepicker__navigation--next {
      margin: 0.1rem 0.5rem 0 0;
    }

    .react-datepicker__navigation-icon--next {
      transform: translateX(0.2rem);
    }

    .react-datepicker__navigation-icon::before {
      border-color: var(--color-grey-2);
      border-width: 0.25rem 0.25rem 0 0;
      height: 1rem;
      top: 0.75rem;
      width: 1rem;
    }

    .react-datepicker__navigation {
      align-items: center;
      background-color: var(--color-grey-3);
      border-radius: 0.25rem;
      display: flex;
      height: 3rem;
      justify-content: center;
      padding: 0;
      width: 3rem;

      &:hover,
      &:focus {
        background-color: var(--color-accent-2);
        outline: none;

        .react-datepicker__navigation-icon::before {
          border-color: var(--color-white);
        }
      }
    }

    .react-datepicker__month-container {
      float: none;
    }

    .react-datepicker__month {
      margin: 0.5rem;
    }

    .react-datepicker__triangle {
      display: none;
    }
  }
}

@keyframes modal-enter {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
