@use 'styles/action' as *;

.button {
  @include action-base;
  @include action-appearances;
  @include action-variants;
  @include action-disabled;
}

.content {
  align-items: center;
  display: inline-flex;
  gap: inherit;
}

.loading .content {
  opacity: 0;
}

.spinner {
  position: absolute;
}
