@use 'styles/action' as *;

// Base reset - no visual styles
.button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;

  &:disabled {
    cursor: not-allowed;
  }
}

// Styled button (when variant or appearance is set)
.styled {
  @include action-base;
  @include action-appearances;
  @include action-variants;
  @include action-disabled;
}

.loading {
  font-size: 0;
}
