.layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.sidebar {
  background-color: var(--color-grey-6);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  justify-content: flex-start;
  left: 0;
  overflow-y: auto;
  padding: 2rem;
  position: fixed;
  top: 0;
  width: 25rem;
}

.brand {
  align-items: center;
  background: var(--color-white-50);
  display: flex;
  height: 8rem;
  justify-content: center;
}

.main {
  background-color: var(--color-grey-5);
  flex: 1;
  margin-left: 25rem;
  padding: 2rem;
}

.mainHeader {
  align-items: flex-start;
  border-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 8rem;
  position: relative;

  > :last-child:not(.headerTitle, p) {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.mainTitle {
  font-size: var(--font-size-8);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navTitle {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-md);
  text-transform: uppercase;
}

.navLink {
  align-items: center;
  background-color: var(--color-grey-5);
  border: none;
  border-radius: var(--radius-sm);
  color: var(--color-grey-1);
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: inherit;
  gap: 1rem;
  justify-content: flex-start;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  width: 100%;

  &:hover,
  &:focus-visible {
    background-color: var(--color-primary-2);
    color: var(--color-white);
    text-decoration: none;
  }

  &.current {
    background-color: var(--color-primary-2);
    color: var(--color-white);
    cursor: default;
  }
}
