@use 'styles/mq' as *;

.topBar {
  background-color: var(--color-grey-7);
  display: none;

  @include mq-md {
    display: block;
  }
}

.container {
  align-items: center;
  display: flex;
  font-size: var(--font-size-2);
  gap: 2rem;
  height: var(--height-top-menu);
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--container-max-width);
  padding: 0 2rem;

  &.between {
    justify-content: space-between;
  }
}


