.dropdown {
  position: relative;
}

.trigger {
  align-items: center;
  border-left: .1rem solid transparent;
  border-right: .1rem solid transparent;
  color: var(--color-black);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-3);
  gap: 0.5rem;
  height: var(--height-top-menu);
  padding: 0 1rem;
  position: relative;

  &:hover,
  &:focus-within,
  .dropdown:hover & {
    background-color: var(--color-white);
    border-color: var(--color-grey-6);
    color: var(--color-black);
    text-decoration: none;

    &::after {
      background: var(--color-white);
      content: '';
      height: .1rem;
      left: 0;
      position: absolute;
      top: 100%;
      width: 100%;
      z-index: var(--z-index-6)
    }
  }
}

.trigger .chevron {
  transition: transform var(--transition-default);
}

.trigger .chevronOpen {
  transform: rotate(180deg);
}

.modal {
  min-width: 14rem;
  opacity: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 100%;
  transition:
    opacity var(--transition-default),
    visibility var(--transition-default);
  visibility: hidden;
  z-index: var(--z-index-5);

  &.isOpen {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
}

.modalInner {
  background-color: var(--color-white);
  border: .1rem solid var(--color-grey-6);
  border-radius: var(--radius-md);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 2rem;
}