.dropdownLink {
  background: none;
  border: none;
  color: var(--color-black);
  cursor: pointer;
  display: block;
  font-size: var(--font-size-3);
  line-height: var(--line-height-default);
  margin: 1rem 0 0;
  text-align: left;
  text-decoration: none;
  transition: background-color var(--transition-default);
  width: 100%;

  &:first-child {
    margin: 0;
  }

  &:hover,
  &:focus-visible {
    color: var(--color-primary-2);
    text-decoration: none;
  }

  &.current {
    color: var(--color-primary-2);
    cursor: default;
    text-decoration: none;
  }
}