.topLink {
  color: var(--color-black);
  font-size: var(--font-size-3);
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: var(--color-primary-contrast);
    text-decoration: underline;
  }

  &.current {
    color: var(--color-primary-contrast);
    cursor: default;
    text-decoration: none;
  }
}
