@use 'sass:map';
@use 'styles/mq' as *;

$gaps: (
  none: 0,
  xs: 0.5rem,
  sm: 1rem,
  md: 1.5rem,
  lg: 2rem,
  xl: 3rem,
);

// Base grid
.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}

// Grid columns - base
@for $i from 1 through 12 {
  .grid--#{$i} {
    grid-template-columns: repeat(#{$i}, 1fr);
  }
}

// Gap - base
@each $name, $value in $gaps {
  .grid--gap-#{$name} {
    gap: $value;
  }
}

// GridItem column spans - base
.gridItem {
  grid-column: span 1;
}

@for $i from 1 through 12 {
  .gridItem-#{$i} {
    grid-column: span #{$i};
  }
}

// Row spans - base
@for $i from 1 through 6 {
  .gridItem--row-#{$i} {
    grid-row: span #{$i};

    > * {
      height: 100%;
    }
  }
}

// Responsive - XS
@include mqXS {
  @for $i from 1 through 12 {
    .grid--xs-#{$i} {
      grid-template-columns: repeat(#{$i}, 1fr);
    }
    .gridItem--xs-#{$i} {
      grid-column: span #{$i};
    }
  }

  @each $name, $value in $gaps {
    .grid--gap-xs-#{$name} {
      gap: $value;
    }
  }

  @for $i from 1 through 6 {
    .gridItem--row-xs-#{$i} {
      grid-row: span #{$i};

      > * {
        height: 100%;
      }
    }
  }
}

// Responsive - SM
@include mqSM {
  @for $i from 1 through 12 {
    .grid--sm-#{$i} {
      grid-template-columns: repeat(#{$i}, 1fr);
    }
    .gridItem--sm-#{$i} {
      grid-column: span #{$i};
    }
  }

  @each $name, $value in $gaps {
    .grid--gap-sm-#{$name} {
      gap: $value;
    }
  }

  @for $i from 1 through 6 {
    .gridItem--row-sm-#{$i} {
      grid-row: span #{$i};

      > * {
        height: 100%;
      }
    }
  }
}

// Responsive - MD
@include mqMD {
  @for $i from 1 through 12 {
    .grid--md-#{$i} {
      grid-template-columns: repeat(#{$i}, 1fr);
    }
    .gridItem--md-#{$i} {
      grid-column: span #{$i};
    }
  }

  @each $name, $value in $gaps {
    .grid--gap-md-#{$name} {
      gap: $value;
    }
  }

  @for $i from 1 through 6 {
    .gridItem--row-md-#{$i} {
      grid-row: span #{$i};

      > * {
        height: 100%;
      }
    }
  }
}

// Responsive - LG
@include mqLG {
  @for $i from 1 through 12 {
    .grid--lg-#{$i} {
      grid-template-columns: repeat(#{$i}, 1fr);
    }
    .gridItem--lg-#{$i} {
      grid-column: span #{$i};
    }
  }

  @each $name, $value in $gaps {
    .grid--gap-lg-#{$name} {
      gap: $value;
    }
  }

  @for $i from 1 through 6 {
    .gridItem--row-lg-#{$i} {
      grid-row: span #{$i};

      > * {
        height: 100%;
      }
    }
  }
}

// Responsive - XL
@include mqXL {
  @for $i from 1 through 12 {
    .grid--xl-#{$i} {
      grid-template-columns: repeat(#{$i}, 1fr);
    }
    .gridItem--xl-#{$i} {
      grid-column: span #{$i};
    }
  }

  @each $name, $value in $gaps {
    .grid--gap-xl-#{$name} {
      gap: $value;
    }
  }

  @for $i from 1 through 6 {
    .gridItem--row-xl-#{$i} {
      grid-row: span #{$i};

      > * {
        height: 100%;
      }
    }
  }
}
