@use 'styles/mixins/typo' as *;

.image {
  height: auto;
}

.figure {
  display: inline-block;
}

.caption {
  @include base-caption;

  margin-top: 0.8rem;
}


.fitCover {
  object-fit: cover;
}

.fitContain {
  object-fit: contain;
}

.fitFill {
  object-fit: fill;
}

.fitNone {
  object-fit: none;
}

.fitScaleDown {
  object-fit: scale-down;
}


.positionCenter {
  object-position: center;
}

.positionTop {
  object-position: top;
}

.positionBottom {
  object-position: bottom;
}

.positionLeft {
  object-position: left;
}

.positionRight {
  object-position: right;
}

.positionTopLeft {
  object-position: top left;
}

.positionTopRight {
  object-position: top right;
}

.positionBottomLeft {
  object-position: bottom left;
}

.positionBottomRight {
  object-position: bottom right;
}


.radiusNone {
  border-radius: 0;
}

.radiusSmall {
  border-radius: var(--radius-2);
}

.radiusMedium {
  border-radius: var(--radius-3);
}

.radiusLarge {
  border-radius: var(--radius-4);
}

.radiusFull {
  border-radius: 50%;
}
