@use 'styles/form' as *;

$track-width: 4.4rem;
$track-height: 2.4rem;
$thumb-size: 1.8rem;
$thumb-margin: 0.3rem;

.wrapper {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  gap: 1rem;

  &.disabled {
    @include form-disabled;
  }
}

.track {
  background-color: var(--color-grey-4);
  border-radius: $track-height;
  display: inline-flex;
  height: $track-height;
  padding: $thumb-margin;
  transition: background-color var(--transition-default);
  width: $track-width;

  &.checked {
    background-color: var(--color-primary-2);
  }
}

.hiddenInput {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;

  &:focus-visible + .track {
    box-shadow: 0 0 0 0.2rem var(--color-primary-2);
  }
}

.thumb {
  background-color: var(--color-white);
  border-radius: 50%;
  box-shadow: 0 0.1rem 0.3rem var(--color-black-20);
  height: $thumb-size;
  transform: translateX(0);
  transition: transform var(--transition-default);
  width: $thumb-size;

  .checked & {
    transform: translateX($track-width - $thumb-size - $thumb-margin * 2);
  }
}

.label {
  color: var(--color-black);
  font-size: var(--font-size-4);
}
