@use 'styles/form' as *;

$track-width: 4.4rem;
$track-height: 2.4rem;
$thumb-size: 1.8rem;
$thumb-margin: 0.3rem;

.wrapper {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  gap: 1rem;

  &.disabled {
    @include formDisabled;
  }
}

.hiddenInput {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;

  &:focus-visible + .track {
    outline: 0.2rem solid var(--color-primary-2);
    outline-offset: 0.2rem;
  }
}

.track {
  background-color: var(--color-grey-4);
  border-radius: $track-height;
  display: inline-flex;
  height: $track-height;
  padding: $thumb-margin;
  transition: background-color var(--transition-default);
  width: $track-width;
}

.thumb {
  background-color: var(--color-white);
  border-radius: 50%;
  box-shadow: 0 0.1rem 0.3rem var(--color-black-20);
  height: $thumb-size;
  transform: translateX(0);
  transition: transform var(--transition-default);
  width: $thumb-size;
}

.checked .thumb {
  transform: translateX($track-width - $thumb-size - $thumb-margin * 2);
}

// Variants
$variants: default, primary, secondary, success, danger, warning, info;

@each $variant in $variants {
  .variant-#{$variant}.checked {
    background-color: var(--color-#{$variant}-2);
  }
}

.label {
  @include formLabel;
}
