@use 'styles/mq' as *;

.bottom {
  border-top: .1rem solid var(--color-grey-2);
  display: flex;
  flex-direction: column-reverse;
  font-size: var(--font-size-3);
  gap: 2rem;
  padding: 3rem 0;

  @include mq-md {
    align-items: center;
    flex-flow: row wrap;
    gap: 1rem 2rem;
    justify-content: space-between;
  }
}

.copyright {
  color: var(--color-grey-2);
}
