.item {
  border-radius: var(--radius-sm);
}

.trigger {
  align-items: center;
  background: none;
  border: none;
  border-radius: var(--radius-sm);
  color: var(--color-grey-1);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-4);
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  text-align: left;
  background-color: var(--color-grey-6);
  width: 100%;

  &.isOpen {
    background-color: var(--color-grey-5);
  }

  &:hover,
  &:focus-visible {
    background-color: var(--color-primary-2);
    color: var(--color-white);
  }
}

.chevron {
  transition: transform var(--transition-default);
}

.chevronOpen {
  transform: rotate(180deg);
}

.dropdown {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows var(--transition-default);

  &.isOpen {
    padding: 0.5rem 0 0;
    grid-template-rows: 1fr;
  }
}

.dropdownInner {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: .5rem;

  
}


