.subLink {
  border-radius: var(--radius-sm);
  color: var(--color-grey-1);
  display: block;
  font-size: var(--font-size-3);
  padding: 1rem 1.5rem;
  text-decoration: none;
  background-color: var(--color-grey-5);

  &:hover,
  &:focus {
    background-color: var(--color-primary-2);
    color: var(--color-white);
  }
}
