.mobileLink {
  border-radius: var(--radius-sm);
  color: var(--color-grey-1);
  display: block;
  font-size: var(--font-size-4);
  padding: 1rem 2rem;
  text-decoration: none;
  background-color: var(--color-grey-6);

  &:hover,
  &:focus-visible {
    background-color: var(--color-primary-2);
    color: var(--color-white);
  }

  &.active {
    background-color: var(--color-grey-6);
    color: var(--color-primary-2);
  }
}
