@use 'styles/mq' as *;

.menu {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  inset: var(--height-mobile-menu) 0 0 auto;
  max-width: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transform: translateX(100%);
  transition: transform var(--transition-default);
  width: 48rem;
  z-index: var(--z-index-4);

  @include mq-md {
    display: none;
  }

  &.menuOpen {
    transform: translateX(0);
  }
}
  
