@use 'styles/mq' as *;
@use 'styles/variants' as *;

.toasts {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  left: 0;
  padding: 0 0 1rem;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: var(--z-index-5);

  @include mqLG {
    padding: 0 0 2rem;
  }
}

.toast {
  border: 0.1rem solid;
  border-radius: var(--radius-medium);
  display: flex;
  flex-direction: column;
  max-width: 100%;
  position: relative;
  width: 35.5rem;

  @include slide-up-transition;
  @include color-variants($prefix: '');
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  width: 100%;
}

.toastHeader {
  display: flex;
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-lg);
}

.toastBody {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-4);
  gap: 0.5rem;
}

.close {
  @include close-button;

  color: inherit;
  opacity: 0.5;
  right: 0.25rem;
  top: 0.25rem;
}
