@use 'styles/form' as *;

.wrapper {
  @include form-wrapper;
}

.label {
  @include form-label;
}

.hiddenInput {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.inline {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.button {
  align-items: center;
  background-color: var(--color-white);
  border: 0.1rem solid var(--color-grey-4);
  border-radius: var(--radius-3);
  color: var(--color-black);
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: var(--font-size-4);
  gap: 1rem;
  height: 4rem;
  justify-content: center;
  padding: 0 2rem;

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    background-color: var(--color-primary-2);
    border-color: var(--color-primary-2);
    color: var(--color-white);
    text-decoration: none;
  }

  &:disabled {
    @include form-disabled;
  }


}

.fileNames {
  color: var(--color-grey-2);
  font-size: var(--font-size-4);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropzone {
  align-items: center;
  background-color: var(--color-grey-6);
  border: 0.2rem dashed var(--color-grey-4);
  border-radius: var(--radius-3);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  min-height: 15rem;
  padding: 2rem;
  transition: all var(--transition-default);

  &:focus {
    border-color: var(--color-primary-2);
    outline: none;
  }

  &:hover:not(.disabled) {
    background-color: var(--color-primary-3);
    border-color: var(--color-primary-2);
  }

  &.dragging {
    background-color: var(--color-primary-3);
    border-color: var(--color-primary-2);
  }

  &.disabled {
    @include form-disabled;
  }

  svg {
    color: var(--color-grey-3);
  }
}

.dropzoneText {
  color: var(--color-grey-2);
  font-size: var(--font-size-4);
}

.dropzone .fileNames {
  font-size: var(--font-size-3);
  max-width: 100%;
}
