@use 'styles/form' as *;

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.label {
  @include formLabel;
}

.input {
  @include formInput;

  padding-right: 3rem;

  .inputWrapper:is(:hover, :focus, :focus-within) & {
    &:not(:disabled) {
      border-color: var(--color-primary-2);
    }
  }
}

.toggleButton {
  align-items: center;
  background: none;
  border: none;
  color: var(--color-grey-2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: none;
  padding: 0.25rem;
  position: absolute;
  right: 0.75rem;
  transition: color 0.2s ease;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:is(:focus, :hover):not(:disabled) {
    color: var(--color-primary-2);
  }
}
