// Border utility classes
// Usage: .b, .b-primary-2, .b-grey-3, etc.

$color-variants: (default, primary, secondary, success, danger, warning, info);
$color-levels: (1, 2, 3, contrast);

// Base border class
.b {
  border: 0.1rem solid var(--color-grey-4);
}

// Border color classes for variants
@each $variant in $color-variants {
  @each $level in $color-levels {
    .b-#{$variant}-#{$level} {
      border: 0.1rem solid var(--color-#{$variant}-#{$level});
    }
  }
}

// Grey border classes
@for $i from 1 through 7 {
  .b-grey-#{$i} {
    border: 0.1rem solid var(--color-grey-#{$i});
  }
}

// Black & white borders
.b-black {
  border: 0.1rem solid var(--color-black);
}

.b-white {
  border: 0.1rem solid var(--color-white);
}

// Border sides
.b-t {
  border-top: 0.1rem solid var(--color-grey-4);
}

.b-r {
  border-right: 0.1rem solid var(--color-grey-4);
}

.b-b {
  border-bottom: 0.1rem solid var(--color-grey-4);
}

.b-l {
  border-left: 0.1rem solid var(--color-grey-4);
}

// No border
.b-none {
  border: none;
}
