@import "styles/mq";

@mixin formTitle {
  color: var(--color-grey-2);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-lg);
  text-transform: uppercase;
}

@mixin formError {
  color: var(--color-danger-2);
  font-size: var(--font-size-2);
}

@mixin formLabel {
  color: var(--color-grey-2);
  font-size: var(--font-size-4);
}

@mixin formValue {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-lg);
}

@mixin formInput {
  background-color: var(--color-white);
  border: 0.2rem solid var(--color-black-20);
  border-radius: 0.5rem;
  color: var(--color-grey-1);
  font-family: inherit;
  font-size: var(--font-size-4);
  height: 3.8rem;
  padding: 0.75rem 2.5rem 0.75rem 0.75rem;
  width: 100%;

  &::selection {
    background: transparent;
  }

  &:hover {
    border: 0.2rem solid var(--color-black-20);
  }

  &:focus {
    border: 0.2rem solid var(--color-accent-2);
    outline: none;
  }

  &:disabled {
    background-color: var(--color-grey-5);
    cursor: not-allowed;
    opacity: 0.6;
  }

  &::placeholder {
    color: var(--color-grey-2);
  }
}

@mixin actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include mqLG {
    flex-direction: row;
    justify-content: flex-end;
  }
}
