@use 'styles/mq' as *;

@mixin formLabel {
  color: var(--color-black);
  font-size: var(--font-size-4);
}

@mixin formInput {
  background-color: var(--color-white);
  border: 0.1rem solid var(--color-grey-4);
  border-radius: var(--radius-medium);
  color: var(--color-black);
  font-family: inherit;
  font-size: var(--font-size-4);
  height: 3.8rem;
  padding: 0.75rem 2.5rem 0.75rem 0.75rem;
  width: 100%;

  &::selection {
    background: transparent;
  }

  &:focus {
    border-color: var(--color-primary-2);
  }

  &:disabled {
    background: var(--color-grey-6);
    cursor: not-allowed;
    opacity: 0.5;
  }

  &::placeholder {
    color: var(--color-grey-2);
  }
}

@mixin formDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@mixin formSpinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
