@use 'sass:map';

$variants: (
  'default': (
    base: var(--color-default-2),
    hover: var(--color-default-1),
    text: var(--color-white),
  ),
  'primary': (
    base: var(--color-primary-2),
    hover: var(--color-primary-1),
    text: var(--color-white),
  ),
  'secondary': (
    base: var(--color-secondary-2),
    hover: var(--color-secondary-1),
    text: var(--color-white),
  ),
  'success': (
    base: var(--color-success-2),
    hover: var(--color-success-1),
    text: var(--color-white),
  ),
  'danger': (
    base: var(--color-danger-2),
    hover: var(--color-danger-1),
    text: var(--color-white),
  ),
  'warning': (
    base: var(--color-warning-2),
    hover: var(--color-warning-1),
    text: var(--color-white),
  ),
  'info': (
    base: var(--color-info-2),
    hover: var(--color-info-1),
    text: var(--color-white),
  ),
  'contrast': (
    base: var(--color-contrast-2),
    hover: var(--color-contrast-1),
    text: var(--color-grey-1),
  ),
);

@mixin interactive-base {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  font-size: var(--font-size-4);
  gap: 1rem;
  justify-content: center;
  outline: 0;
  position: relative;
  transition: all 0.1s ease;
}

@mixin interactive-appearances {
  &.appearance-button,
  &.appearance-outline {
    border-radius: var(--radius-medium);
    height: var(--height-button);
    padding: 0 2rem;
    text-decoration: none;
  }

  &.appearance-underline,
  &.appearance-default {
    align-self: center;
    height: auto;
  }

  &.appearance-underline {
    &::before {
      background: currentcolor;
      bottom: 0;
      content: '';
      height: 0.1rem;
      left: 0;
      position: absolute;
      right: 0;
      transform: translateY(0.1rem);
      transition: transform 0.2s ease;
      width: 100%;
    }

    &:hover:not([disabled]),
    &:focus:not([disabled]) {
      &::before {
        transform: translateY(0.4rem);
      }
    }
  }
}

@mixin interactive-variants {
  @each $name, $colors in $variants {
    $base: map.get($colors, base);
    $hover: map.get($colors, hover);
    $text: map.get($colors, text);

    &.variant-#{$name} {
      background: transparent;
      color: $base;

      &[aria-selected='true']:not([disabled]),
      &:hover:not([disabled]),
      &:focus:not([disabled]) {
        color: $hover;
      }

      &.appearance-button {
        background: $base;
        color: $text;

        &[aria-selected='true']:not([disabled]),
        &:hover:not([disabled]),
        &:focus:not([disabled]) {
          background: $hover;
          color: $text;
        }
      }

      &.appearance-outline {
        border: 0.1rem solid $base;

        &[aria-selected='true']:not([disabled]),
        &:hover:not([disabled]),
        &:focus:not([disabled]) {
          background: $hover;
          border-color: $hover;
          color: $text;
        }
      }

      &.appearance-underline::before {
        background: $base;
      }

      &.appearance-underline[aria-selected='true']:not([disabled])::before,
      &.appearance-underline:hover:not([disabled])::before,
      &.appearance-underline:focus:not([disabled])::before {
        background: $hover;
      }
    }
  }
}

@mixin interactive-disabled {
  &[disabled] {
    opacity: 0.5;
    pointer-events: none;

    &::after {
      content: '';
      cursor: not-allowed;
      inset: 0;
      pointer-events: all;
      position: absolute;
    }
  }
}
