@use 'mq' as *;

// Body layout with header padding
body {
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  font-family: var(--site-font);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-md);
  line-height: var(--line-height-default);
  margin: 0;
  min-height: 100vh;
  padding-top: var(--height-mobile-menu);
  width: 100%;

  @include mq-md {
    padding-top: 0;
  }

  &.with-top-nav {
    @include mq-md {
      padding-top: var(--height-top-menu);
    }
  }

  &.with-main-nav {
    @include mq-md {
      padding-top: var(--height-main-menu);
    }
  }

  &.with-main-nav.with-top-nav {
    @include mq-md {
      padding-top: calc(var(--height-top-menu) + var(--height-main-menu));
    }
  }

  &.freeze {
    overflow: hidden;
    padding-right: var(--scrollbar-width, 0);
  }
}

// Main content area
main {
  display: flex;
  flex: 1;
  flex-direction: column;
}
