// List reset and utilities

ul {
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &.disc {
    list-style-type: disc;
  }

  &.chevron {
    list-style-type: disclosure-closed;
  }

  &.decimal {
    list-style-type: decimal;
  }
}
