@use './mq' as *;

* {
  border: 0 solid;
  box-sizing: border-box;
  margin: 0;
  overflow-wrap: break-word;
  padding: 0;

  &::before,
  &::after {
    border: 0 solid;
    box-sizing: border-box;
  }
}

:focus {
  outline: none;
}

html {
  background: var(--color-grey-4);
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  text-size-adjust: 100%;

  &.freeze {
    height: 100%;
    overflow: hidden;

    @supports (height: 100vh) {
      height: 100vh;
    }

    @supports (height: 100dvh) {
      height: 100dvh;
    }
  }
}

body {
  background: var(--color-grey-6);
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  font-family: var(--site-font);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-md);
  line-height: var(--line-height-default);
  margin: 0;
  min-height: 100vh;
  padding-top: var(--height-mobile-menu);
  width: 100%;

  @include mq-md {
    padding-top: 0;
  }

  &.with-top-nav {
    @include mq-md {
      padding-top: var(--height-top-menu);
    }
  }

  &.with-main-nav {
    @include mq-md {
      padding-top: var(--height-main-menu);
    }
  }

  &.with-main-nav.with-top-nav {
    @include mq-md {
      padding-top: calc(var(--height-top-menu) + var(--height-main-menu));
    }
  }

  &.freeze {
    overflow: hidden;
    padding-right: var(--scrollbar-width, 0);
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul {
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &.disc {
    list-style-type: disc;
  }

  &.chevron {
    list-style-type: disclosure-closed;
  }

  &.decimal {
    list-style-type: decimal;
  }
}

a {
  color: var(--color-black);
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: var(--color-primary-2);
    text-decoration: underline;
  }
}

button {
  background: none;
  font-size: var(--font-size-4);
  outline: none;

  &:hover,
  &:focus-visible {
    color: var(--color-primary-2);
    text-decoration: underline;
  }
}

svg {
  font-size: inherit;
}

button {
  cursor: pointer;
  font-family: var(--site-font);
  font-weight: var(--font-weight-md);
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

