@mixin mqXS {
  @media (width >= 480px) {
    @content;
  }
}

@mixin mqSM {
  @media (width >= 768px) {
    @content;
  }
}

@mixin mqMD {
  @media (width >= 1024px) {
    @content;
  }
}

@mixin mqLG {
  @media (width >= 1200px) {
    @content;
  }
}

@mixin mqXL {
  @media (width >= 1400px) {
    @content;
  }
}
