@use './typo' as *;

* {
  border: 0 solid;
  box-sizing: border-box;
  margin: 0;
  overflow-wrap: break-word;
  padding: 0;

  &::before,
  &::after {
    border: 0 solid;
    box-sizing: border-box;
  }
}

:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

body {
  color: var(--color-black);
  font-family: var(--site-font);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-default);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a,
button {
  @include base-link;
}

svg {
  font-size: inherit;
}
