:root {
  --color-black: #000;
  --color-black-50: rgb(0 0 0 / 50%);
  --color-black-20: rgb(0 0 0 / 20%);
  --color-white: #fff;
  --color-white-50: rgb(255 255 255 / 50%);
  --color-white-20: rgb(255 255 255 / 20%);
  --color-grey-1: #333;
  --color-grey-2: #666;
  --color-grey-3: #999;
  --color-grey-4: #ccc;
  --color-grey-5: #ddd;
  --color-grey-6: #eee;
  --color-default-1: #222;
  --color-default-2: #666;
  --color-default-3: #eee;
  --color-primary-1: #002f5f;
  --color-primary-2: #06c;
  --color-primary-3: #cce0ff;
  --color-secondary-1: #3d1480;
  --color-secondary-2: #7c3aed;
  --color-secondary-3: #ede9fe;
  --color-success-1: #115129;
  --color-success-2: #16a34a;
  --color-success-3: #dcfce7;
  --color-danger-1: #7c1515;
  --color-danger-2: #dc2626;
  --color-danger-3: #fee2e2;
  --color-warning-1: #71320b;
  --color-warning-2: #d97706;
  --color-warning-3: #fef3c7;
  --color-info-1: #104b5d;
  --color-info-2: #0891b2;
  --color-info-3: #cffafe;
  --color-contrast-1: #fff;
  --color-contrast-2: #fff;
  --color-contrast-3: #fff;
  --font-size-1: 1rem;
  --font-size-2: 1.2rem;
  --font-size-3: 1.4rem;
  --font-size-4: 1.6rem;
  --font-size-5: 1.8rem;
  --font-size-6: 2rem;
  --font-size-7: 2.5rem;
  --font-size-8: 3rem;
  --font-size-lg: 6rem;
  --font-size-xl: 8rem;
  --font-weight-md: 500;
  --font-weight-lg: 700;
  --z-index-1: 100;
  --z-index-2: 200;
  --z-index-3: 300;
  --z-index-4: 400;
  --z-index-5: 500;
  --z-index-6: 600;
  --screen-max-width: 168rem;
  --container-max-width: 120rem;
  --site-font: system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', arial,
    sans-serif;
  --radius-small: 0.4rem;
  --radius-medium: 0.5rem;
  --radius-large: 0.6rem;
  --height-button: 4rem;
  --height-badge: 2.6rem;
}
