@use 'colors' as *;

@mixin color-variants($prefix: 'variant-') {
  @each $name in $color-variants {
    &.#{$prefix}#{$name} {
      background-color: var(--color-#{$name}-3);
      border-color: var(--color-#{$name}-2);
      color: var(--color-#{$name}-1);
    }
  }
}

@mixin close-button {
  align-items: center;
  background: transparent;
  background-color: var(--color-grey-6);
  border: none;
  border-radius: var(--radius-sm);
  color: var(--color-grey-3);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-5);
  height: 2.5rem;
  justify-content: center;
  outline: none;
  padding: 0;
  position: absolute;
  width: 2.5rem;

  &:hover,
  &:focus {
    background-color: var(--color-primary-2);
    color: var(--color-white);
    opacity: 1;
  }
}

@mixin fade-transition {
  opacity: 0;
  transition: all var(--transition-default);

  &.active {
    opacity: 1;
  }

  &.removing {
    opacity: 0;
  }
}

@mixin scale-transition {
  opacity: 0;
  transform: scale(0.9);
  transition: all var(--transition-default);

  &.active {
    opacity: 1;
    transform: scale(1);
  }

  &.removing {
    opacity: 0;
    transform: scale(0.9);
  }
}

@mixin slide-up-transition {
  opacity: 0;
  transform: translateY(2rem);
  transition: all var(--transition-default);

  &.active {
    opacity: 1;
    transform: translateY(0);
  }

  &.removing {
    opacity: 0;
    transform: translateY(2rem);
  }
}
