.title {
  font-weight: var(--font-weight-lg);
  line-height: 1.5;
}

.h1 {
  font-size: var(--font-size-6);
}

.h2 {
  font-size: var(--font-size-5);
}

.h3 {
  font-size: var(--font-size-4);
}

.h4 {
  font-size: var(--font-size-3);
}

.h5 {
  font-size: var(--font-size-2);
}

.h6 {
  font-size: var(--font-size-1);
}
