$title-sizes: (
  h1: 8,
  h2: 7,
  h3: 6,
  h4: 5,
  h5: 4,
  h6: 3,
  lg: lg,
  xl: xl,
  xxl: xxl,
);

.title {
  font-weight: var(--font-weight-xl);
}

@each $level, $size in $title-sizes {
  .#{$level} {
    font-size: var(--font-size-#{$size});
  }
}
