.dropdownLink {
  background-color: var(--color-grey-5);
  border-radius: var(--radius-sm);
  color: var(--color-grey-1);
  display: block;
  font-size: var(--font-size-3);
  padding: 1rem 2rem;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    background-color: var(--color-primary-2);
    color: var(--color-white);
    text-decoration: none;
  }

  &.current {
    background-color: var(--color-grey-5);
    color: var(--color-primary-2);
  }
}
