.spinner {
  animation: spin 0.8s linear infinite;
  border-color: var(--color-grey-5);
  border-radius: 50%;
  border-style: solid;
  border-top-color: var(--color-primary-2);
  display: inline-block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.size-sm {
  border-width: 0.2rem;
  height: 2rem;
  width: 2rem;
}

.size-md {
  border-width: 0.25rem;
  height: 2.6rem;
  width: 2.6rem;
}

.size-lg {
  border-width: 0.3rem;
  height: 3.2rem;
  width: 3.2rem;
}
