@use 'styles/mq' as *;

.header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--z-index-3);
}

.overlay {
  background-color: var(--color-black-50);
  inset: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity var(--transition-default);
  z-index: var(--z-index-3);

  @include mq-md {
    display: none;
  }

  &.isOpen {
    opacity: 1;
    pointer-events: auto;
  }
}


