.avatar {
  align-items: center;
  aspect-ratio: 1;
  background-color: var(--color-secondary-2);
  border-radius: 50%;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  overflow: hidden;
}

.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.initials {
  color: var(--color-white);
  font-weight: var(--font-weight-heading);
  text-transform: uppercase;
}

// Variants
$variants: default, primary, secondary, success, danger, warning, info;

@each $variant in $variants {
  .variant-#{$variant} {
    background-color: var(--color-#{$variant}-2);
    color: var(--color-#{$variant}-1);
  }
}
