@use 'styles/form' as *;

.card {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
}

.cardHeader {
  display: flex;
}

.cardBody {
  display: flex;
  flex-direction: column;
}

.cardFooter {
  display: flex;
}
