@use 'styles/form' as *;

.card {
  background-color: var(--color-white);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cardHeader {
  display: flex;
}

.cardBody {
  display: flex;
}

.cardFooter {
  display: flex;
}
