@use 'styles/form' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.label {
  @include formLabel;
}

.inputWrapper {
  align-items: center;
  display: flex;
  position: relative;
}

.input {
  @include formInput;

  flex: 1;
  padding-right: 2.5rem;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  .inputWrapper:hover &,
  .inputWrapper:focus-within & {
    border: 0.1rem solid var(--color-primary-2);
  }

  &[type='number'] {
    appearance: textfield;
  }
}

.nav {
  background-color: var(--color-grey-3);
  border-radius: 0 0.4rem 0.4rem 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  overflow: hidden;
  padding: 0.1rem;
  position: absolute;
  right: 0;
  top: 0;

  .inputWrapper:hover &,
  .inputWrapper:focus-within & {
    background-color: var(--color-primary-2);
  }

  .button {
    align-items: center;
    background-color: var(--color-white);
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: var(--color-grey-2);
    cursor: pointer;
    display: flex;
    flex: 1;
    justify-content: center;
    min-width: 3.8rem;
    padding: 0 0.5rem;

    &:disabled {
      color: var(--color-grey-1);
      cursor: not-allowed;
      opacity: 0.4;
    }

    &:focus:not(:disabled),
    &:hover:not(:disabled) {
      background: var(--color-primary-2);
      color: var(--color-white);
      outline: none;
    }

    svg {
      font-size: var(--font-size-3);
    }
  }
}
