@use 'styles/form' as *;

.wrapper {
  @include form-wrapper;

  overflow: hidden;

  &.disabled {
    @include form-disabled;
  }
}

.label {
  @include form-label;
}

.inputWrapper {
  align-items: center;
  display: flex;
  position: relative;
}

.input {
  @include form-input;

  flex: 1;
  padding-right: 2.5rem;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &[type='number'] {
    appearance: textfield;
  }

  .wrapper:not(.disabled):hover &,
  .wrapper:not(.disabled):focus-within & {
    border: 0.1rem solid var(--color-primary-2);
  }
}

.nav {
  background-color: var(--color-grey-3);
  border-radius: 0 var(--radius-2) var(--radius-2) 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  overflow: hidden;
  padding: 0.1rem;
  position: absolute;
  right: 0;
  top: 0;

  .wrapper:not(.disabled):hover &,
  .wrapper:not(.disabled):focus-within & {
    background-color: var(--color-primary-2);
  }
}

.button {
  align-items: center;
  background-color: var(--color-white);
  border: none;
  box-shadow: none;
  color: var(--color-grey-2);
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
  min-width: 3.8rem;
  padding: 0 0.5rem;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:focus-visible:not(:disabled),
  &:hover:not(:disabled) {
    background: var(--color-primary-2);
    color: var(--color-white);
  }

  &.increment {
    border-radius: 0 var(--radius-2) 0 0;
  }

  &.decrement {
    border-radius: 0 0 var(--radius-2);
  }

  svg {
    transform: scale(1.25);
  }
}
