@use 'styles/typo' as *;

.divider {
  @include base-hr;

  width: 100%;
}

.variant-solid {
  border-top-color: var(--color-grey-5);
  border-top-style: solid;
}

.variant-dashed {
  border-top-color: var(--color-grey-5);
  border-top-style: dashed;
}

.variant-dotted {
  border-top-color: var(--color-grey-5);
  border-top-style: dotted;
}

.spacing-none {
  margin: 0;
}

.spacing-sm {
  margin: 1rem 0;
}

.spacing-md {
  margin: 2rem 0;
}

.spacing-lg {
  margin: 3rem 0;
}

.spacing-xl {
  margin: 4rem 0;
}
