.alert {
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  width: 100%;

  &.info {
    background-color: var(--color-info-3);
    border-color: var(--color-info-2);
    color: var(--color-info-1);
  }

  &.accent {
    background-color: var(--color-accent-3);
    border-color: var(--color-accent-2);
    color: var(--color-accent-1);
  }

  &.warning {
    background-color: var(--color-warning-3);
    border-color: var(--color-warning-2);
    color: var(--color-warning-1);
  }

  &.success {
    background-color: var(--color-success-3);
    border-color: var(--color-success-2);
    color: var(--color-success-1);
  }

  &.danger {
    background-color: var(--color-danger-3);
    border-color: var(--color-danger-2);
    color: var(--color-danger-1);
  }
}

.alertHeader {
  display: flex;
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-lg);
}

.alertBody {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-4);
  gap: 0.5rem;
}
