.modals {
  inset: 0;
  pointer-events: none;
  position: fixed;
  z-index: var(--z-index-4);
}

.modalBackdrop {
  align-items: center;
  background: var(--color-black-50);
  display: flex;
  inset: 0;
  justify-content: center;
  opacity: 0;
  padding: 1rem;
  pointer-events: auto;
  position: fixed;
  transition: opacity 0.2s ease;

  &.active {
    opacity: 1;
  }

  &.removing {
    opacity: 0;
  }

  &:not(:first-of-type) {
    background: transparent;
  }
}

.modal {
  background: var(--color-white);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 2rem rgb(0 0 0 / 30%);
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  opacity: 0;
  position: relative;
  transform: scale(0.9);
  transition: all 0.2s ease;
  width: 100%;

  &.active {
    opacity: 1;
    transform: scale(1);
  }

  &.removing {
    opacity: 0;
    transform: scale(0.9);
  }

  &.sm {
    max-width: 31.5rem;
  }

  &.md {
    max-width: 50rem;
  }

  &.lg {
    max-width: 70rem;
  }

  &.xl {
    max-width: 90rem;
  }

  &.full {
    max-height: calc(100vh - 2rem);
    max-width: calc(100vw - 2rem);
  }

  .modalHeader {
    align-items: center;
    border-bottom: 0.2rem solid var(--color-grey-3);
    color: var(--color-black);
    display: flex;
    flex-shrink: 0;
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-md);
    justify-content: space-between;
    padding: 2rem;
  }

  .modalBody {
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-4);
    gap: 1rem;
    overflow-y: auto;
    padding: 2rem;
  }

  .modalClose {
    align-items: center;
    background: transparent !important;
    border: none;
    color: var(--color-grey-2);
    cursor: pointer;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    padding: 0;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    width: 2.5rem;
    z-index: 2;

    &:hover,
    &:focus {
      color: var(--color-black) !important;
      opacity: 1;
    }

    svg {
      font-size: var(--font-size-5)
    }
  }
}