.breadcrumb {
  font-size: var(--font-size-4);
}

.list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  align-items: center;
  display: flex;
  gap: 0.4rem;
}

.link {
  color: var(--color-grey-2);
  outline: none;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: var(--color-primary-2);
    text-decoration: underline;
  }
}

.current {
  color: var(--color-primary-2);
}

.separator {
  color: var(--color-grey-4);
  display: flex;
}
