.navLink {
  align-items: center;
  background: none;
  border: none;
  border-radius: var(--radius-sm);
  color: var(--color-grey-1);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-4);
  height: 4rem;
  padding: 0 2rem;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: var(--color-grey-6);
    color: var(--color-primary-2);
  }
}

.navLinkActive {
  color: var(--color-primary-2);
}
