.dropdownLink {
  background: none;
  border: none;
  border-radius: var(--radius-sm);
  color: var(--color-grey-1);
  cursor: pointer;
  display: block;
  font-size: var(--font-size-2);
  padding: 0.8rem 1.2rem;
  text-align: left;
  text-decoration: none;
  transition: background-color var(--transition-default);
  width: 100%;

  &:hover,
  &:focus {
    background-color: var(--color-grey-6);
  }
}
