@use '../../styles/mq' as *;

.toggle {
  align-items: center;
  background: none;
  border: none;
  border-radius: var(--radius-sm);
  color: var(--color-grey-1);
  cursor: pointer;
  display: flex;
  padding: 0.8rem;

  @include mqMD {
    display: none;
  }

  &:hover {
    color: var(--color-primary-2);
  }

  &:focus-visible {
    outline: 0.2rem solid var(--color-primary-2);
    outline-offset: 0.2rem;
  }
}
