@use '../../styles/mq' as *;

.toggle {
  align-items: center;
  background: none;
  border: none;
  border-radius: var(--radius-sm);
  color: var(--color-grey-1);
  cursor: pointer;
  display: flex;
  padding: 0.8rem;

  @include mqMD {
    display: none;
  }

  &:hover,
  &:focus {
    color: var(--color-primary-2);
  }
}
