@use '../../styles/mq' as *;

.header {
  background-color: var(--color-white);
  border-bottom: 0.1rem solid var(--color-grey-5);
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: var(--z-index-4);
}

.overlay {
  background-color: var(--color-black-50);
  inset: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity var(--transition-menu);
  z-index: var(--z-index-3);

  @include mqMD {
    display: none;
  }
}

.overlayOpen {
  opacity: 1;
  pointer-events: auto;
}
