.carousel {
  position: relative;
}

.viewport {
  overflow: hidden;
}

.container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.slide {
  flex: 0 0 100%;
  min-width: 0;
}

.controls {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.button {
  align-items: center;
  background: var(--color-grey-5);
  border: none;
  border-radius: 50%;
  color: var(--color-grey-1);
  cursor: pointer;
  display: flex;
  height: 4rem;
  justify-content: center;
  outline: none;
  width: 4rem;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background: var(--color-primary-2);
    color: var(--color-white);
  }

  svg {
    font-size: var(--font-size-4);
  }
}

.dots {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.dot {
  background: var(--color-grey-4);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 1rem;
  outline: none;
  padding: 0;
  width: 1rem;

  &.active,
  &:hover:not(.active),
  &:focus:not(.active) {
    background: var(--color-primary-2);
  }
}
