.item {
  align-items: center;
  display: flex;
  height: var(--height-main-menu);
  position: relative;

  &:hover,
  &:focus-within {
    .chevron {
      transform: rotate(180deg);
    }

    .dropdown,
    .megaMenu {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
    }
  }
}

.trigger {
  align-items: center;
  background: none;
  border: none;
  border-radius: var(--radius-sm);
  color: var(--color-grey-1);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-4);
  gap: 0.5rem;
  height: 4rem;
  padding: 0 2rem;

  &:hover,
  &:focus-visible,
  .item:hover &,
  .item:focus-within & {
    background-color: var(--color-grey-6);
    color: var(--color-primary-2);
  }
}

.triggerActive {
  color: var(--color-primary-2);
}

.isCurrent {
  color: var(--color-primary-2);
}

.chevron {
  transition: transform var(--transition-default);
}

.chevronOpen {
  transform: rotate(180deg);
}

.isOpen {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.hasMega {
  position: static;
}

.dropdown {
  left: 0;
  min-width: 20rem;
  opacity: 0;
  padding: 2rem 0 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  transition:
    opacity var(--transition-default),
    visibility var(--transition-default);
  visibility: hidden;
  z-index: var(--z-index-5);
}

.dropdownInner {
  background: var(--color-white);
  border-radius: var(--radius-sm);
  color: var(--color-grey-1);
  padding: 2rem;
}

.megaMenu {
  left: 0;
  opacity: 0;
  padding: 2rem 0 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 100%;
  transition:
    opacity var(--transition-default),
    visibility var(--transition-default);
  visibility: hidden;
  z-index: var(--z-index-5);
}

.megaMenuInner {
  background: var(--color-white);
  border-radius: var(--radius-sm);
  color: var(--color-grey-1);
  margin: 0 auto;
  max-width: var(--container-max-width);
  padding: 4rem;
}

