@use '../../../styles/mq' as *;

.main {
  background-color: var(--color-white);
  display: none;
  min-height: var(--height-main-menu);
  position: relative;
  z-index: var(--z-index-4);

  @include mq-md {
    display: block;
  }
}

.container {
  align-items: center;
  display: flex;
  gap: 2rem;
  height: var(--height-main-menu);
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--container-max-width);
  padding: 0 2rem;
}
