@use 'styles/typo' as *;

.audio {
  display: block;
  width: 100%;
}

.figure {
  display: block;
  margin: 0;
}

.title {
  font-size: var(--font-size-3);
  margin-bottom: 1rem;
}

.caption {
  @include base-caption;

  margin: 0;
  margin-top: 1rem;
}

.transcript {
  @include base-link;

  display: inline-block;
  font-size: var(--font-size-2);
  margin-top: 1rem;
}
