@use 'styles/form' as *;

.wrapper {
  @include form-wrapper;
}

.label {
  @include form-label;
}

.input {
  @include form-input;

  cursor: pointer;
  padding-right: 4rem;

  &:disabled {
    cursor: not-allowed;
  }
}

.trigger {
  align-items: center;
  background: transparent;
  border: none;
  color: var(--color-grey-2);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-5);
  height: 100%;
  justify-content: center;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 4rem;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:is(:hover, :focus-visible):not(:disabled) {
    color: var(--color-primary-2);
  }
}

.inputWrapper {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;

  &:is(:hover, :focus-within) {
    .input:not(:disabled) {
      border-color: var(--color-primary-2);
    }

    .trigger:not(:disabled) {
      color: var(--color-primary-2);
    }
  }
}

.calendar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.monthYear {
  align-items: center;
  background: var(--color-grey-6);
  color: var(--color-black);
  display: flex;
  flex: 1;
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-lg);
  height: 4rem;
  justify-content: center;
}

.day {
  align-items: center;
  aspect-ratio: 1;
  background: transparent;
  background-color: var(--color-grey-6);
  border: 0.1rem solid var(--color-grey-6);
  border-radius: var(--radius-sm);
  color: var(--color-grey-2);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-4);
  justify-content: center;
  width: 4rem;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:is(:hover, :focus-visible):not(:disabled, .selected) {
    background-color: var(--color-primary-2);
    border-color: var(--color-primary-2);
    color: var(--color-white);
  }

  &.today {
    background-color: var(--color-grey-5);
    border-color: var(--color-grey-5);
    color: var(--color-grey-2);
  }

  &.selected {
    background-color: var(--color-primary-2);
    border-color: var(--color-primary-2);
    color: var(--color-white);
  }
}

.navButton {
  align-items: center;
  background: transparent;
  background-color: var(--color-grey-6);
  border-radius: var(--radius-sm);
  color: var(--color-black);
  cursor: pointer;
  display: flex;
  height: 4rem;
  justify-content: center;
  width: 4rem;

  &:is(:hover, :focus-visible) {
    background-color: var(--color-primary-2);
    color: var(--color-white);
  }
}

.weekdays {
  display: grid;
  gap: 0.2rem;
  grid-template-columns: repeat(7, 1fr);
}

.weekday {
  color: var(--color-grey-2);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-lg);
  line-height: var(--line-height-default);
  text-align: center;
  width: 4rem;
}

.grid {
  display: grid;
  gap: 0.2rem;
  grid-template-columns: repeat(7, 1fr);
}

.empty {
  aspect-ratio: 1;
}

.footer {
  display: flex;
  gap: 1rem;
}

.footerButton {
  flex: 1;
}
