@use 'styles/form' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.label {
  @include formLabel;
}

.input {
  @include formInput;

  cursor: pointer;
  padding-right: 4rem;

  &:disabled {
    cursor: not-allowed;
  }
}

.trigger {
  align-items: center;
  background: transparent;
  border: none;
  color: var(--color-grey-2);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-5);
  height: 100%;
  justify-content: center;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: color 0.2s ease;
  width: 4rem;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:is(:hover, :focus):not(:disabled) {
    color: var(--color-primary-2);
  }
}

.inputWrapper {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;

  &:is(:hover, :focus-within) {
    .input:not(:disabled) {
      border-color: var(--color-primary-2);
    }

    .trigger:not(:disabled) {
      color: var(--color-primary-2);
    }
  }
}

.calendar {
  padding: 0.5rem;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.monthYear {
  color: var(--color-black);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-lg);
}

.day {
  align-items: center;
  aspect-ratio: 1;
  background: transparent;
  border: none;
  border-radius: var(--radius-small);
  color: var(--color-grey-1);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-md);
  justify-content: center;
  transition: all 0.15s ease;

  &:disabled {
    color: var(--color-grey-4);
    cursor: not-allowed;
  }

  &:is(:hover, :focus):not(:disabled, .selected) {
    background: var(--color-grey-6);
    color: var(--color-primary-2);
  }

  &.today {
    border: 0.1rem solid var(--color-primary-2);
  }

  &.selected {
    background: var(--color-primary-2);
    color: var(--color-white);

    &:focus {
      // outline: 0.2rem solid var(--color-primary-1);
      // outline-offset: 0.2rem;
    }
  }
}

.navButton {
  align-items: center;
  background: transparent;
  border: none;
  border: 0.1rem solid var(--color-grey-4);
  border-radius: var(--radius-small);
  color: var(--color-black);
  cursor: pointer;
  display: flex;
  height: 4rem;
  justify-content: center;
  transition: all 0.2s ease;
  width: 4rem;

  &:is(:hover, :focus) {
    background-color: var(--color-primary-2);
    border-color: var(--color-primary-2);
    color: var(--color-white);
  }
}

.weekdays {
  display: grid;
  gap: 0.2rem;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 0.5rem;
}

.weekday {
  color: var(--color-grey-2);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-lg);
  padding: 0.5rem;
  text-align: center;
}

.grid {
  display: grid;
  gap: 0.2rem;
  grid-template-columns: repeat(7, 1fr);
}

.empty {
  aspect-ratio: 1;
}

.footer {
  display: flex;
  gap: 1rem;
}

.footerButton {
  flex: 1;
  margin: 2rem 0 0;
}
