@use 'styles/form' as *;

.datePickerWrapper {
  align-items: center;
  display: inline-flex;
  position: relative;
  width: 100%;

  .calendarIcon {
    color: var(--color-grey-2);
    font-size: var(--font-size-5);
    pointer-events: none;
  }

  .datePickerTrigger {
    align-items: center;
    background: transparent !important;
    border: none;
    box-shadow: none;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 4rem;

    &:is(:hover, :focus, .focused):not(:disabled) {
      color: var(--color-black);

      .calendarIcon {
        color: var(--color-primary-2);
      }
    }
  }

  .datePickerContainer {
    width: 100%;
  }

  .datePickerInput {
    @include formInput;

    padding-right: 4rem;
  }

  &:is(:hover, :focus-within) {
    .datePickerInput:not(:disabled) {
      border-color: var(--color-primary-2);
    }
  }

  .calendarWrapper {
    background: var(--color-white);
  }
}

:global {
  .react-datepicker-popper {
    align-items: center;
    display: flex !important;
    inset: 0 !important;
    justify-content: center;
    margin-top: -0.2rem;
    position: fixed !important;
    transform: none !important;
    width: 100%;
    z-index: var(--z-index-4) !important;

    &::before {
      background: var(--color-black-50);
      content: '';
      inset: 0;
      position: fixed;
      z-index: -1;
    }

    .react-datepicker {
      border-radius: 0.8rem;
      font-family: inherit;
    }

    .react-datepicker__header {
      align-items: center;
      background-color: var(--color-white);
      border-bottom: 0.1rem solid var(--color-grey-2);
      border-radius: 0.8rem 0.8rem 0 0;
      display: flex;
      height: 4rem;
      justify-content: center;
    }

    .react-datepicker__current-month {
      color: var(--color-grey-1);
      font-size: var(--font-size-5);
      font-weight: var(--font-weight-lg);
    }

    .react-datepicker__day-name {
      color: var(--color-black);
      font-size: var(--font-size-4);
      font-weight: var(--font-weight-lg);
      line-height: 3rem;
      margin: 0.25rem;
      width: 3rem;
    }

    .react-datepicker__day,
    .react-datepicker__day--today {
      border-radius: 0.3rem;
      color: var(--color-black);
      font-size: var(--font-size-4);
      font-weight: var(--font-weight-md);
      line-height: 3rem;
      margin: 0.25rem;
      width: 3rem;

      &:is(:hover, :focus) {
        background-color: var(--color-primary-2);
        color: var(--color-white);
      }
    }

    .react-datepicker__day--selected,
    .react-datepicker__day--keyboard-selected {
      background-color: var(--color-primary-2);
      color: var(--color-white);
      font-weight: var(--font-weight-md);
      outline: none;
    }

    .react-datepicker__day--disabled {
      color: var(--color-grey-2);
      cursor: not-allowed;

      &:is(:hover, :focus) {
        background-color: transparent;
        color: var(--color-grey-2);
        opacity: 1;
      }
    }

    .react-datepicker__day--outside-month {
      color: var(--color-grey-2);
    }

    .react-datepicker__navigation-icon--previous {
      transform: translateX(-0.2rem);
    }

    .react-datepicker__navigation--previous {
      margin: 0.1rem 0 0 0.5rem;
    }

    .react-datepicker__navigation--next {
      margin: 0.1rem 0.5rem 0 0;
    }

    .react-datepicker__navigation-icon--next {
      transform: translateX(0.2rem);
    }

    .react-datepicker__navigation-icon::before {
      border-color: var(--color-grey-2);
      border-width: 0.25rem 0.25rem 0 0;
      height: 1rem;
      top: 0.75rem;
      width: 1rem;
    }

    .react-datepicker__navigation {
      align-items: center;
      background-color: transparent;
      display: flex;
      height: 3rem;
      justify-content: center;
      margin: 0.25rem;
      padding: 0;
      width: 3rem;

      &:is(:hover, :focus) {
        outline: none;

        .react-datepicker__navigation-icon::before {
          border-color: var(--color-primary-2);
        }
      }
    }

    .react-datepicker__month-container {
      float: none;
    }

    .react-datepicker__month {
      margin: 0.5rem;
    }

    .react-datepicker__triangle {
      display: none;
    }
  }
}

@keyframes modal-enter {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
