$tooltip-bg: var(--color-grey-1);
$tooltip-color: var(--color-white);
$arrow-size: 0.6rem;

.wrapper {
  display: inline-block;
  position: relative;
}

.tooltip {
  background-color: $tooltip-bg;
  border-radius: var(--radius-sm);
  color: $tooltip-color;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-3);
  line-height: 1.4;
  max-width: 25rem;
  padding: 1rem;
  position: absolute;
  width: max-content;
}

.arrow {
  border: $arrow-size solid transparent;
  height: 0;
  position: absolute;
  width: 0;
}

// Positions
.top {
  bottom: calc(100% + 0.5rem);
  left: 50%;
  margin-bottom: $arrow-size;
  transform: translateX(-50%);

  .arrow {
    border-top-color: $tooltip-bg;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
  }
}

.bottom {
  left: 50%;
  margin-top: $arrow-size;
  top: calc(100% + 0.5rem);
  transform: translateX(-50%);

  .arrow {
    border-bottom-color: $tooltip-bg;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.left {
  margin-right: $arrow-size;
  right: calc(100% + 0.5rem);
  top: 50%;
  transform: translateY(-50%);

  .arrow {
    border-left-color: $tooltip-bg;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.right {
  left: calc(100% + 0.5rem);
  margin-left: $arrow-size;
  top: 50%;
  transform: translateY(-50%);

  .arrow {
    border-right-color: $tooltip-bg;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}
