@use 'styles/form' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.groupLabel {
  @include formLabel;
}

.options {
  display: flex;
  gap: 0.75rem;

  &.vertical {
    flex-direction: column;
  }

  &.horizontal {
    flex-flow: row wrap;
  }
}

.option {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;

  &.disabled {
    cursor: not-allowed;
  }
}

.radio {
  border: 0.2rem solid var(--color-grey-3);
  border-radius: 50%;
  flex-shrink: 0;
  height: 2rem;
  position: relative;
  transition: border-color 0.2s ease;
  width: 2rem;

  &::after {
    background-color: var(--color-primary-2);
    border-radius: 50%;
    content: '';
    height: 1rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease;
    width: 1rem;
  }
}

.input {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;

  &:focus + .radio {
    box-shadow: 0 0 0 2px var(--color-primary-1);
  }

  &:checked + .radio {
    border-color: var(--color-primary-2);

    &::after {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.label {
  @include formLabel;
}
