.avatar {
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  overflow: hidden;
}

.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.initials {
  font-weight: var(--font-weight-5);
  text-transform: uppercase;
}

// Sizes
.size-sm {
  font-size: 1rem;
  height: 2.4rem;
  width: 2.4rem;
}

.size-md {
  font-size: 1.2rem;
  height: 3.2rem;
  width: 3.2rem;
}

.size-lg {
  font-size: 1.6rem;
  height: 4.8rem;
  width: 4.8rem;
}

.size-xl {
  font-size: 2rem;
  height: 6.4rem;
  width: 6.4rem;
}

// Variants
$variants: default, primary, secondary, success, danger, warning, info;

@each $variant in $variants {
  .variant-#{$variant} {
    background-color: var(--color-#{$variant}-3);
    color: var(--color-#{$variant}-1);
  }
}
