.pagination {
  background-color: var(--color-white);
  border-radius: var(--radius-4);
  display: inline-flex;
  padding: 0.5rem;
}

.list {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page {
  align-items: center;
  background-color: var(--color-grey-6);
  border: 0.1rem solid var(--color-grey-6);
  border-radius: var(--radius-3);
  color: var(--color-grey-2);
  cursor: pointer;
  display: flex;
  height: 4rem;
  justify-content: center;
  min-width: 4rem;
  padding: 0 1rem;
  text-decoration: none;
}

.page.disabled {
  color: var(--color-grey-3);
}

.page.current {
  background-color: var(--color-white);
  border-color: var(--color-primary-2);
  color: var(--color-primary-2);
  cursor: default;
}

.page:hover:not(.current, .disabled),
.page:focus-visible:not(.current, .disabled) {
  background-color: var(--color-primary-2);
  border-color: var(--color-primary-2);
  color: var(--color-white);
}

.nav {
  align-items: center;
  background-color: var(--color-grey-6);
  border: 0.1rem solid var(--color-grey-6);
  border-radius: var(--radius-3);
  color: var(--color-grey-1);
  cursor: pointer;
  display: flex;
  height: 4rem;
  justify-content: center;
  min-width: 4rem;
  padding: 0;
  text-decoration: none;
}

.nav.disabled {
  color: var(--color-grey-3);
  cursor: not-allowed;
  opacity: 0.6;
}

.nav:hover:not(.disabled),
.nav:focus-visible:not(.disabled) {
  background-color: var(--color-primary-2);
  border-color: var(--color-primary-2);
  color: var(--color-white);
}

.ellipsis {
  align-items: center;
  background-color: var(--color-grey-6);
  border-radius: var(--radius-3);
  color: var(--color-grey-3);
  cursor: default;
  display: flex;
  height: 4rem;
  justify-content: center;
  opacity: 0.6;
  width: 4rem;
}

.pagination.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.pagination.disabled .page,
.pagination.disabled .nav {
  pointer-events: none;
}
