.item {
  position: relative;
}

.trigger {
  align-items: center;
  background: none;
  border: none;
  color: var(--color-grey-6);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-2);
  gap: 0.5rem;
  height: var(--height-topbar);
  padding: 0;
  position: relative;

  &:hover,
  &:focus,
  .hasDropdown:hover & {
    color: var(--color-primary-contrast);
  }
}

.chevron {
  transition: transform var(--transition-default);
}

.chevronOpen {
  transform: rotate(180deg);
}

.dropdown {
  min-width: 14rem;
  opacity: 0;
  padding: 1rem 0 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 100%;
  transition:
    opacity var(--transition-default),
    visibility var(--transition-default);
  visibility: hidden;
  z-index: var(--z-index-5);
}

.dropdownInner {
  background-color: var(--color-black);
  border-radius: var(--radius-md);
  color: var(--color-white);
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 2rem;
}

.dropdownOpen {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.hasDropdown:hover {
  .chevron {
    transform: rotate(180deg);
  }

  .dropdown {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
}
