.dropdownLink {
  background: none;
  border: none;
  border-radius: var(--radius-sm);
  color: var(--color-grey-6);
  cursor: pointer;
  display: block;
  font-size: var(--font-size-2);
  line-height: 1.4;
  margin: 1rem 0 0;
  text-align: left;
  text-decoration: none;
  transition: background-color var(--transition-default);
  width: 100%;

  &:first-child {
    margin: 0;
  }

  &:hover,
  &:focus-visible {
    color: var(--color-primary-contrast);
    text-decoration: underline;
  }

  &.current {
    color: var(--color-primary-contrast);
    cursor: default;
    text-decoration: none;
  }
}
