.item {
  position: relative;
}

.trigger {
  align-items: center;
  background: none;
  border: none;
  color: var(--color-grey-6);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-2);
  gap: 0.5rem;
  height: var(--height-topbar);
  padding: 0;
  position: relative;

  &::after {
    content: '';
    height: 1rem;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  &:hover,
  &:focus {
    color: var(--color-primary-contrast);
  }
}

.chevron {
  transition: transform var(--transition-default);
}

.chevronOpen {
  transform: rotate(180deg);
}

.dropdown {
  background-color: var(--color-black);
  border: 0.1rem solid var(--color-grey-2);
  border-radius: var(--radius-md);
  min-width: 16rem;
  opacity: 0;
  padding: 0.8rem;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: calc(100% + 0.8rem);
  transition:
    opacity var(--transition-default),
    visibility var(--transition-default);
  visibility: hidden;
  z-index: var(--z-index-5);

  &::before {
    content: '';
    height: 0.8rem;
    left: 0;
    position: absolute;
    right: 0;
    top: -0.8rem;
  }
}

.dropdownOpen {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.hasDropdown:hover {
  .chevron {
    transform: rotate(180deg);
  }

  .dropdown {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
}
