.link {
  color: var(--color-grey-6);
  font-size: var(--font-size-2);
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: var(--color-primary-contrast);
    text-decoration: underline;
  }
}
