@use 'styles/color' as *;
@use 'styles/typo' as *;

.note {
  @include base-note;

  display: flex;
  flex-direction: column;
  font-size: var(--font-size-4);
  gap: .5rem;

  @include color-variants;
}

.title {
  font-size: var(--font-size-5);
}