@import "styles/mq";
@import "styles/form";

.link {
  color: var(--color-black);
  cursor: pointer;
  text-decoration: underline;

  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
  }

  &.accent {
    color: var(--color-accent-2);
  }

  &.danger {
    color: var(--color-danger-2);
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    position: relative;
    text-decoration: underline;

    &::after {
      content: "";
      cursor: not-allowed;
      height: 100%;
      left: 0;
      pointer-events: all;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.link.fill {
  align-items: center;
  background: var(--color-grey-3);
  border: 1px solid var(--color-grey-2);
  border-radius: 0.5rem;
  box-shadow: inset 0 0.1rem 0 0 var(--color-white-50);
  color: var(--color-grey-1);
  cursor: pointer;
  display: inline-flex;
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-lg);
  height: 3rem;
  justify-content: center;
  outline: 0;
  padding: 0 1rem;
  text-decoration: none;

  &:hover:not(.disabled),
  &:focus:not(.disabled) {
    background: var(--color-grey-2);
    border-color: var(--color-grey-2);
    color: var(--color-white);
  }

  &.accent {
    background: var(--color-accent-3);
    border: 1px solid var(--color-accent-2);
    color: var(--color-accent-1);

    &:hover:not(.disabled),
    &:focus:not(.disabled) {
      background: var(--color-accent-2);
      border-color: var(--color-accent-2);
      color: var(--color-white);
    }
  }

  &.danger {
    background: var(--color-danger-3);
    border: 1px solid var(--color-danger-2);
    color: var(--color-danger-1);

    &:hover:not(.disabled),
    &:focus:not(.disabled) {
      background: var(--color-danger-2);
      border-color: var(--color-danger-2);
      color: var(--color-white);
    }
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    position: relative;

    &::after {
      content: "";
      cursor: not-allowed;
      height: 100%;
      left: 0;
      pointer-events: all;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
