.banner {
  background-color: var(--color-grey-5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 40rem;
  position: relative;
  width: 100%;

  &.overlay-light::before,
  &.overlay-dark::before {
    content: '';
    inset: 0;
    position: absolute;
  }

  &.overlay-light::before {
    background: var(--color-white-50);
  }

  &.overlay-dark::before {
    background: var(--color-black-50);
  }
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: var(--container-max-width);
  position: relative;
  width: 100%;
  z-index: 1;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 4rem;

  &.align-left {
    align-items: flex-start;
    text-align: left;
  }

  &.align-center {
    align-items: center;
    text-align: center;
  }

  &.align-right {
    align-items: flex-end;
    text-align: right;
  }

  &.justify-start {
    justify-content: flex-start;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  .title {
    color: inherit;
  }

  .subtitle {
    color: inherit;
    font-size: var(--font-size-4);
    opacity: 0.8;
  }

  .text {
    color: inherit;
    font-size: var(--font-size-4);
    line-height: 1.6;
    margin: 2rem 0 0;
    max-width: 40rem;
  }

  &.text-light {
    color: var(--color-white);
  }

  &.text-dark {
    color: var(--color-black);
  }
}

.actions {
  align-items: center;
  display: flex;
  gap: 2rem;
  margin: 4rem 0 0;

  &.horizontal {
    flex-flow: row wrap;
  }

  &.vertical {
    align-items: stretch;
    flex-direction: column;
  }
}
