.banner {
  background-color: var(--color-grey-5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 40rem;
  position: relative;
  width: 100%;

  &.overlay-light::before,
  &.overlay-dark::before {
    content: '';
    inset: 0;
    position: absolute;
  }

  &.overlay-light::before {
    background: var(--color-white-50);
  }

  &.overlay-dark::before {
    background: var(--color-black-50);
  }
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: var(--container-max-width);
  position: relative;
  width: 100%;
  z-index: 1;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.5rem;
  padding: 4rem;

  // Horizontal alignment
  &.align-left {
    align-items: flex-start;
    text-align: left;
  }

  &.align-center {
    align-items: center;
    text-align: center;
  }

  &.align-right {
    align-items: flex-end;
    text-align: right;
  }

  // Vertical justification
  &.justify-start {
    justify-content: flex-start;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  // Text color variants
  &.text-light {
    color: var(--color-white);

    .title,
    .subtitle,
    .text {
      color: inherit;
    }

    .subtitle {
      opacity: 0.9;
    }

    .text {
      opacity: 0.85;
    }
  }

  &.text-dark {
    color: var(--color-grey-1);

    .title {
      color: var(--color-grey-1);
    }

    .subtitle {
      color: var(--color-grey-2);
    }

    .text {
      color: var(--color-grey-2);
    }
  }
}

.title {
  margin: 0;
}

.subtitle {
  font-size: var(--font-size-3);
  font-weight: 500;
  line-height: 1.4;
  margin: 0;
}

.text {
  font-size: var(--font-size-4);
  line-height: 1.6;
  margin: 0;
  max-width: 60ch;
}

.actions {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;

  &.horizontal {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &.vertical {
    align-items: stretch;
    flex-direction: column;
  }
}
