.card {
  border-radius: var(--radius-sm);
  width: 33.5rem;
}

.cardHeader {
  flex-direction: column;
  padding: 2rem 2rem 1rem;
}

.cardBody {
  padding: 2rem;
}

.divider {
  border-color: var(--color-grey-5);
  margin: auto;
  width: calc(100% - 4rem);
}

.title {
  color: var(--color-secondary-1);
  font-size: var(--font-size-6);
}

.cardFooter {
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
}

.link {
  font-size: var(--font-size-4);

  &:hover,
  &:focus-visible {
    color: var(--color-primary-2);
    text-decoration: underline;
  }
}
