@use 'styles/form' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.label {
  @include formLabel;
}

.textarea {
  @include formInput;

  height: auto;
  min-height: 8rem;
  resize: vertical;
}

.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 1.25rem;
}

.count {
  color: var(--color-grey-2);
  font-size: var(--font-size-2);
  margin-left: auto;
}
